<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>


<h1>I know it now. You are <%= @current_user ? @current_user[:name] : 'Not Login'%></h1>
